<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <title>{{title}} - Reference</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/favicon.png" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    {{{redocHead}}}
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
    {{{redocHTML}}}
</body>

</html>