<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>HTML to PDF API - Stop yak-shaving, generate a PDF now!</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <meta name="title" content="@@title"> -->
<meta name="title" content="HTML to PDF API - Stop yak-shaving, generate a PDF now!">
<meta name="author" content="yakpdf">
<meta name="description" content="Use technologies that your team already knows. Get all the PDF you need with an HTTP call. Get started now for free!">
<meta name="keywords" content="html to pdf, pdf generation, pdf api, html to pdf api, pdf, pdf conversion, html conversion, convert html to pdf, convert html, generate pdf" />
<link rel="canonical" href="https://yakpdf.com">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://yakpdf.com">
<meta property="og:title" content="HTML to PDF API - Stop yak-shaving, generate a PDF now!">
<meta property="og:description" content="Use technologies that your team already knows. Get all the PDF you need with an HTTP call. Get started now for free!">
<meta property="og:image" content="https://yakpdf.com/assets/img/logo-black.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://yakpdf.com">
<meta property="twitter:title" content="HTML to PDF API - Stop yak-shaving, generate a PDF now!">
<meta property="twitter:description" content="Use technologies that your team already knows. Get all the PDF you need with an HTTP call. Get started now for free!">
<meta property="twitter:image" content="https://yakpdf.com/assets/img/logo-black.png">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/favicon.png">
 <link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest"> 
<link rel="mask-icon" href="@@path/assets/img/favicon/favicon.png" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Swipe CSS -->
<link type="text/css" href="@@path/css/swipe.css" rel="stylesheet">

<link rel="stylesheet" href="@@path/assets/vendor/highlight.js/css/railscasts.min.css">



<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
@@if (environment === 'production') {
    @@include('./_analytics.html')
}
