<!-- Core -->
<script src="@@path/vendor/jquery/dist/jquery.min.js"></script>
<script src="@@path/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="@@path/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="@@path/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="@@path/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="@@path/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- <script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.js"></script>
-->
<script src="@@path/assets/vendor/highlight.js/js/highlight.min.js"></script>
<script src="@@path/assets/vendor/highlight.js/languages/java.min.js"></script>
<script src="@@path/assets/vendor/highlight.js/languages/bash.min.js"></script>
<script src="@@path/assets/vendor/highlight.js/languages/python.min.js"></script>
<script src="@@path/assets/vendor/highlight.js/languages/javascript.min.js"></script>

<script src="@@path/assets/vendor/highlightjs-line-numbers.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Swipe JS -->
<script src="@@path/assets/js/swipe.js"></script>

